<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102973016609-t1s5tc1vpn1ajl1ukqprotkljn51sj7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102973016609-t1s5tc1vpn1ajl1ukqprotkljn51sj7b</string>
	<key>API_KEY</key>
	<string>AIzaSyAFXhCH8oE4uE9-0WgoJ2ZKcF2r3or8I2U</string>
	<key>GCM_SENDER_ID</key>
	<string>102973016609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donggov.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>firebase-practice-donggov</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-practice-donggov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102973016609:ios:c80bbc4fcb02a59a327160</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-donggov.firebaseio.com</string>
</dict>
</plist>